<h1>Brazilian draughts</h1>

<body>

  <ul><li>The game is played on a board with 8x8 squares, alternating dark and light. The lower-leftmost square should be dark.</li>
    <li>Each player has 12 pieces. In the starting position the pieces are placed on the first three rows closest to the players. This leaves two central rows empty.</li></ul>

  <h3>Moves and captures</h3>
  <p>All moves and captures are made diagonally. All references to squares refer to the dark squares only. The main differences from English draughts are:
    pieces can also capture backward (not only forward),
    the long-range moving and capturing capability of kings, and
    the requirement that the maximum number of men be captured whenever a player has capturing options.
  </p>
  <ul>
    <li>The player with the light pieces makes the first move. The two players make moves alternately.</li>
    <li>Ordinary pieces move forward one square diagonally to a square that is not occupied by another piece.</li>
    <li>Opposing pieces can and must be captured by jumping over the opposing piece, two squares.
      If one has the possibility to capture a piece then this must be done even if it is disadvantageous.
      <ul>
        <li>If there is one unoccupied square before or behind opposing pieces then jumps multiple times over
          opposing pieces in a single turn forward or backward can and must be made, making angles of 90 degrees.
          It is compulsory to jump over as many pieces as possible. One must play with the piece that can make the maximum captures.</li>
        <li>After the piece has jumped over the opponent's piece or pieces, the jumped-over pieces are taken from the board.
          The men are <i>not</i> removed <i>during</i> the jumping move, only <i>after</i> the entire move is completed.</li>
        <li>The same piece may not be jumped over twice.</li>
      </ul>
    </li>
  </ul>


  <h3>Crowning</h3>
    <ul>
      <li>A piece is <i>crowned</i> if it stops on the far edge of the board at the end of its turn
        (that is, not if it reaches the edge but must then jump another piece backward).
        Another piece is placed on top of it to mark it. Crowned pieces, sometimes called <i>kings</i>,
        can move freely multiple steps in any direction and may jump over and hence capture an opponent piece some distance away and choose where to stop afterwards,
        but must still capture the maximum number of pieces possible.</li>
    </ul>


  <h3>Winning and draws</h3>
    <ul>
      <li>A player with no valid move remaining loses.
      This is the case if the player either has no pieces left or if a player's pieces are obstructed from making a legal move by the pieces of the opponent.</li>
      <li>A game is a draw if neither opponent has the possibility to win the game.</li>
      <li>The game is considered a draw when the same position repeats itself for the third time (not necessarily consecutive),
        with the same player having the move each time.</li>
    </ul>



  <h2>Notation</h2>
    <p>
      Each of the 32 dark squares has a number (<i>1</i> through <i>32</i>).
      Number 29 is at the left corner seen from the player with the light pieces.
      Number 4 is at the left corner seen from the player with the dark pieces.
    </p>

  <img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/10/English_draughts_init_config.png/220px-English_draughts_init_config.png" width="220" height="220">
  <img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/7a/English_draughts_notation.png/220px-English_draughts_notation.png" width="220" height="220">

</body>
