<body>

<table class="center">
  <tr>
    <td></td>
    <td><button class="{{gameStateService.board[0]}} {{gameService.highlight[0]}}" (click)="makeMoveWhite('0')"><p>0</p></button></td>
    <td></td>
    <td><button class="{{gameStateService.board[1]}} {{gameService.highlight[1]}}" (click)="makeMoveWhite('1')"><p>1</p></button></td>
    <td></td>
    <td><button class="{{gameStateService.board[2]}} {{gameService.highlight[2]}}" (click)="makeMoveWhite('2')"><p>2</p></button></td>
    <td></td>
    <td><button class="{{gameStateService.board[3]}} {{gameService.highlight[3]}}" (click)="makeMoveWhite('3')"><p>3</p></button></td>
  </tr>
  <tr>
    <td><button class="{{gameStateService.board[4]}} {{gameService.highlight[4]}}" (click)="makeMoveWhite('4')"><p>4</p></button></td>
    <td></td>
    <td><button class="{{gameStateService.board[5]}} {{gameService.highlight[5]}}" (click)="makeMoveWhite('5')"><p>5</p></button></td>
    <td></td>
    <td><button class="{{gameStateService.board[6]}} {{gameService.highlight[6]}}" (click)="makeMoveWhite('6')"><p>6</p></button></td>
    <td></td>
    <td><button class="{{gameStateService.board[7]}} {{gameService.highlight[7]}}" (click)="makeMoveWhite('7')"><p>7</p></button></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td><button class="{{gameStateService.board[8]}} {{gameService.highlight[8]}}" (click)="makeMoveWhite('8')"><p>8</p></button></td>
    <td></td>
    <td><button class="{{gameStateService.board[9]}} {{gameService.highlight[9]}}" (click)="makeMoveWhite('9')"><p>9</p></button></td>
    <td></td>
    <td><button class="{{gameStateService.board[10]}} {{gameService.highlight[10]}}" (click)="makeMoveWhite('10')"><p>10</p></button></td>
    <td></td>
    <td><button class="{{gameStateService.board[11]}} {{gameService.highlight[11]}}" (click)="makeMoveWhite('11')"><p>11</p></button></td>
  </tr>
  <tr>
    <td><button class="{{gameStateService.board[12]}} {{gameService.highlight[12]}}" (click)="makeMoveWhite('12')"><p>12</p></button></td>
    <td></td>
    <td><button class="{{gameStateService.board[13]}} {{gameService.highlight[13]}}" (click)="makeMoveWhite('13')"><p>13</p></button></td>
    <td></td>
    <td><button class="{{gameStateService.board[14]}} {{gameService.highlight[14]}}" (click)="makeMoveWhite('14')"><p>14</p></button></td>
    <td></td>
    <td><button class="{{gameStateService.board[15]}} {{gameService.highlight[15]}}" (click)="makeMoveWhite('15')"><p>15</p></button></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td><button class="{{gameStateService.board[16]}} {{gameService.highlight[16]}}" (click)="makeMoveWhite('16')"><p>16</p></button></td>
    <td></td>
    <td><button class="{{gameStateService.board[17]}} {{gameService.highlight[17]}}" (click)="makeMoveWhite('17')"><p>17</p></button></td>
    <td></td>
    <td><button class="{{gameStateService.board[18]}} {{gameService.highlight[18]}}" (click)="makeMoveWhite('18')"><p>18</p></button></td>
    <td></td>
    <td><button class="{{gameStateService.board[19]}} {{gameService.highlight[19]}}" (click)="makeMoveWhite('19')"><p>19</p></button></td>
  </tr>
  <tr>
    <td><button class="{{gameStateService.board[20]}} {{gameService.highlight[20]}}" (click)="makeMoveWhite('20')"><p>20</p></button></td>
    <td></td>
    <td><button class="{{gameStateService.board[21]}} {{gameService.highlight[21]}}" (click)="makeMoveWhite('21')"><p>21</p></button></td>
    <td></td>
    <td><button class="{{gameStateService.board[22]}} {{gameService.highlight[22]}}" (click)="makeMoveWhite('22')"><p>22</p></button></td>
    <td></td>
    <td><button class="{{gameStateService.board[23]}} {{gameService.highlight[23]}}" (click)="makeMoveWhite('23')"><p>23</p></button></td>
    <td></td>
  </tr>

  <tr>
    <td></td>
    <td><button class="{{gameStateService.board[24]}} {{gameService.highlight[24]}}" (click)="makeMoveWhite('24')"><p>24</p></button></td>
    <td></td>
    <td><button class="{{gameStateService.board[25]}} {{gameService.highlight[25]}}" (click)="makeMoveWhite('25')"><p>25</p></button></td>
    <td></td>
    <td><button class="{{gameStateService.board[26]}} {{gameService.highlight[26]}}" (click)="makeMoveWhite('26')"><p>26</p></button></td>
    <td></td>
    <td><button class="{{gameStateService.board[27]}} {{gameService.highlight[27]}}" (click)="makeMoveWhite('27')"><p>27</p></button></td>
  </tr>
  <tr>
    <td><button class="{{gameStateService.board[28]}} {{gameService.highlight[28]}}" (click)="makeMoveWhite('28')"><p>28</p></button></td>
    <td></td>
    <td><button class="{{gameStateService.board[29]}} {{gameService.highlight[29]}}" (click)="makeMoveWhite('29')"><p>29</p></button></td>
    <td></td>
    <td><button class="{{gameStateService.board[30]}} {{gameService.highlight[30]}}" (click)="makeMoveWhite('30')"><p>30</p></button></td>
    <td></td>
    <td><button class="{{gameStateService.board[31]}} {{gameService.highlight[31]}}" (click)="makeMoveWhite('31')"><p>31</p></button></td>
    <td></td>
  </tr>
</table>

<app-board-bottom></app-board-bottom>

</body>
