<body>

<table class="center">
  <tr>
    <td></td>
    <td><button class="{{gameService.board[0]}} {{gameService.hi[0]}}" (click)="action1('0')"></button></td>
    <td></td>
    <td><button class="{{gameService.board[1]}} {{gameService.hi[1]}}" (click)="action1('1')"></button></td>
    <td></td>
    <td><button class="{{gameService.board[2]}} {{gameService.hi[2]}}" (click)="action1('2')"></button></td>
    <td></td>
    <td><button class="{{gameService.board[3]}} {{gameService.hi[3]}}" (click)="action1('3')"></button></td>
  </tr>
  <tr>
    <td><button class="{{gameService.board[4]}} {{gameService.hi[4]}}" (click)="action1('4')"></button></td>
    <td></td>
    <td><button class="{{gameService.board[5]}} {{gameService.hi[5]}}" (click)="action1('5')"></button></td>
    <td></td>
    <td><button class="{{gameService.board[6]}} {{gameService.hi[6]}}" (click)="action1('6')"></button></td>
    <td></td>
    <td><button class="{{gameService.board[7]}} {{gameService.hi[7]}}" (click)="action1('7')"></button></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td><button class="{{gameService.board[8]}} {{gameService.hi[8]}}" (click)="action1('8')"></button></td>
    <td></td>
    <td><button class="{{gameService.board[9]}} {{gameService.hi[9]}}" (click)="action1('9')"></button></td>
    <td></td>
    <td><button class="{{gameService.board[10]}} {{gameService.hi[10]}}" (click)="action1('10');"></button></td>
    <td></td>
    <td><button class="{{gameService.board[11]}} {{gameService.hi[11]}}" (click)="action1('11');"></button></td>
  </tr>
  <tr>
    <td><button class="{{gameService.board[12]}} {{gameService.hi[12]}}" (click)="action1('12');"></button></td>
    <td></td>
    <td><button class="{{gameService.board[13]}} {{gameService.hi[13]}}" (click)="action1('13');"></button></td>
    <td></td>
    <td><button class="{{gameService.board[14]}} {{gameService.hi[14]}}" (click)="action1('14');"></button></td>
    <td></td>
    <td><button class="{{gameService.board[15]}} {{gameService.hi[15]}}" (click)="action1('15');"></button></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td><button class="{{gameService.board[16]}} {{gameService.hi[16]}}" (click)="action1('16');"></button></td>
    <td></td>
    <td><button class="{{gameService.board[17]}} {{gameService.hi[17]}}" (click)="action1('17');"></button></td>
    <td></td>
    <td><button class="{{gameService.board[18]}} {{gameService.hi[18]}}" (click)="action1('18');"></button></td>
    <td></td>
    <td><button class="{{gameService.board[19]}} {{gameService.hi[19]}}" (click)="action1('19');"></button></td>
  </tr>
  <tr>
    <td><button class="{{gameService.board[20]}} {{gameService.hi[20]}}" (click)="action1('20');"></button></td>
    <td></td>
    <td><button class="{{gameService.board[21]}} {{gameService.hi[21]}}" (click)="action1('21');"></button></td>
    <td></td>
    <td><button class="{{gameService.board[22]}} {{gameService.hi[22]}}" (click)="action1('22');"></button></td>
    <td></td>
    <td><button class="{{gameService.board[23]}} {{gameService.hi[23]}}" (click)="action1('23');"></button></td>
    <td></td>
  </tr>

  <tr>
    <td></td>
    <td><button class="{{gameService.board[24]}} {{gameService.hi[24]}}" (click)="action1('24');"></button></td>
    <td></td>
    <td><button class="{{gameService.board[25]}} {{gameService.hi[25]}}" (click)="action1('25');"></button></td>
    <td></td>
    <td><button class="{{gameService.board[26]}} {{gameService.hi[26]}}" (click)="action1('26');"></button></td>
    <td></td>
    <td><button class="{{gameService.board[27]}} {{gameService.hi[27]}}" (click)="action1('27');"></button></td>
  </tr>
  <tr>
    <td><button class="{{gameService.board[28]}} {{gameService.hi[28]}}" (click)="action1('28');"></button></td>
    <td></td>
    <td><button class="{{gameService.board[29]}} {{gameService.hi[29]}}" (click)="action1('29');"></button></td>
    <td></td>
    <td><button class="{{gameService.board[30]}} {{gameService.hi[30]}}" (click)="action1('30');"></button></td>
    <td></td>
    <td><button class="{{gameService.board[31]}} {{gameService.hi[31]}}" (click)="action1('31');"></button></td>
    <td></td>
  </tr>
</table>

</body>
