table{
  /*margin-left:200px;*/
  border-collapse: collapse;
  border: 1px solid black;
  overflow:hidden;
  table-layout:fixed;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

p{
  color: #818181;
  margin-right: -20%;
  font-stretch: ultra-condensed;
}


td{
  width: calc(90vw/8);
  height: calc(90vw/8);
  border: 0 solid grey;
  padding: 0;
  color: gray;
}

tr:nth-of-type(odd) td:nth-of-type(even){
  background-color: #000000;
}

tr:nth-of-type(odd) td:nth-of-type(odd){
  background-color: white;
}

tr:nth-of-type(even) td:nth-of-type(odd){
  background-color: black;
}

tr:nth-of-type(even) td:nth-of-type(even){
  background-color: white;
}

td{
  width: 100px;
  height: 100px;
}

button{
  width: 80px;
  height: 80px;
  border-radius: 40px;
  border: 0px;
  position: center;
  top: 2px;
  left: 10px;
  text-align: right;
  line-height: 110px;
}

.o{
  background-color: transparent;
}

.r{
  background-color: red;
}
.R{
  background-color: red;
  outline: 3px solid red;
  border: 3px solid black;
  cursor: pointer;
}

.w{
  background-color: antiquewhite;
}
.W{
  background-color: antiquewhite;
  outline: 3px solid antiquewhite;
  border: 3px solid black;
  cursor: pointer;
}

/*colour for selected pawn*/
.hi {
  opacity: 0.8
}



