<div class="container">

  <div class="chat">
    <ng-container *ngFor="let msg of this.websocketService.received.reverse()">
      {{msg}} <br>
    </ng-container>
  </div>

  <div class="textInput">
    <p><input type="text" [(ngModel)]=this.websocketService.message></p>
    <button (click)="this.websocketService.sentChatMessage(this.websocketService.message);"><h2>SEND</h2></button>
  </div>

  error tutaj: {{this.websocketService.error}}<br><br>

  <!--<button (click)="this.websocketService.makeError();"><h2>ERROR</h2></button>-->
  <!--<button (click)="this.websocketService.makeComplete();"><h2>COMPLETE</h2></button>-->
  <!--<button (click)="this.websocketService.makeConnection();"><h2>RECONNECT</h2></button>-->

</div>
