<div class="container">

  <div class="chat">
    <ng-container *ngFor="let msg of this.websocketService.received.reverse()">
      {{msg}} <br>
    </ng-container>
  </div>

  <div class="textInput">
    <p><input type="text" [(ngModel)]=this.websocketService.message></p>
    <button (click)="this.websocketService.sentChatMessage(this.websocketService.message);"><h2>SEND</h2></button>
  </div>

  error tutaj: {{this.websocketService.error}}<br><br>

  <!--<button (click)="this.websocketService.makeError();"><h2>ERROR</h2></button>-->
  <!--<button (click)="this.websocketService.makeComplete();"><h2>COMPLETE</h2></button>-->
  <!--<button (click)="this.websocketService.makeConnection();"><h2>RECONNECT</h2></button>-->

</div>


//todo: make it to show players in room
<table *ngFor="let room of this.websocketService.multiplayerState.rooms" width="100%" class="members">
  <tr><div id="squareWhite"></div> {{room.players[0]}}</tr>
  <tr><div id="squareRed"></div> {{room.players[1]}}</tr>
</table>
