
<!--<body>-->
<!--  <table>-->
<!--    <tr>-->

<!--moveFrom: {{gameService.moveFrom}} <br>-->
<!--moveTo: {{gameService.moveTo}} <br>-->
<!--currentMove: {{gameService.currentColour}} <br>-->
<!--board: {{gameService.board}} <br>-->
<!--error: {{gameService.error}}<br>-->
<body>
  <div class="webpage">

  <table id="main">
    <tr>

      <td width="300">
        <div class="strip">
          <div class="currentMove">
            <app-current-move *ngIf="loadedCurrentMove"></app-current-move>
          </div>
        </div>
      </td>

      <td bgcolor="white">
        <div class="menu">
          <app-menu></app-menu>
          <hr>
        </div>
        <div class="error">
          <h1>{{gameService.error}}</h1>
        </div>
        <div class="container">
          <app-choose-single-multi *ngIf="loadedChooseSingleMulti"></app-choose-single-multi>
          <app-choose-colour *ngIf="loadedChooseColour"></app-choose-colour>
          <app-board-for-white *ngIf="loadedWhite"></app-board-for-white>
          <app-board-for-red *ngIf="loadedRed"></app-board-for-red>
          <app-login *ngIf="loadedLogin"></app-login>
          <app-rooms *ngIf="loadedRooms"></app-rooms>
          <br>
        </div>
      </td>

      <td width="300">
        <div class="strip">
          <p>logged player: {{this.wbsocketService.playerName}}</p>
          <app-players *ngIf="loadedPlayers"></app-players>
          <app-chat *ngIf="loadedChat"></app-chat>
        </div>
      </td>
    </tr>

  </table>

    stopka

  </div>
</body>
