.webpage{
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  width: 1800px;

}
table, th, td {
  border: none;
  text-align: center;
  border: 1px #f6f6f6;
  vertical-align: top;
  min-height: 1100px;
}

body {
  margin:0;
  padding:0;
  min-height: 100vh;
  background-color: #f6f6f6;
}

.center{
  background-color: #f6f6f6;
}

.strip{
  margin-top: 150px;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.menu{
  text-align: center;
  width: 1200px;
  height: 100%;
  background-color: white;
}
.error{
  text-align: center;
  margin: 0 auto;
  height: 50px;
  width: 1200px;
  color: red;
  background-color: white;
}
.container{
  margin: 0 auto;
  justify-content: center;
  vertical-align: top;
  width: 1200px;
  height: 100%;
  background-color: white;
}
.currentMove{

}

