selectedPawnId: {{selectedPawnId}} <br>
currentMove: {{currentMove}} <br>
currentState: {{currentState}} <br>
<body>
    <table>
      <tr>
        <td></td>
        <td><button id="{{properties01}}" (click)="action1('0', properties01);"></button></td>
        <td></td>
        <td><button id="{{properties03}}" (click)="action1('1', properties03);"></button></td>
        <td></td>
        <td><button id="{{properties05}}" (click)="action1('2', properties05);"></button></td>
        <td></td>
        <td><button id="{{properties07}}" (click)="action1('3', properties07);"></button></td>
      </tr>
      <tr>
        <td><button id="{{properties10}}" (click)="action1('4', properties10);"></button></td>
        <td></td>
        <td><button id="{{properties12}}" (click)="action1('5', properties12);"></button></td>
        <td></td>
        <td><button id="{{properties14}}" (click)="action1('6', properties14);"></button></td>
        <td></td>
        <td><button id="{{properties16}}" (click)="action1('7', properties16);"></button></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td><button id="{{properties21}}" (click)="action1('8', properties21);"></button></td>
        <td></td>
        <td><button id="{{properties23}}" (click)="action1('9', properties23);"></button></td>
        <td></td>
        <td><button id="{{properties25}}" (click)="action1('10', properties25);"></button></td>
        <td></td>
        <td><button id="{{properties27}}" (click)="action1('11', properties27);"></button></td>
      </tr>
      <tr>
        <td><button id="{{properties30}}" (click)="action1('12', properties30);"></button></td>
        <td></td>
        <td><button id="{{properties32}}" (click)="action1('13', properties32);"></button></td>
        <td></td>
        <td><button id="{{properties34}}" (click)="action1('14', properties34);"></button></td>
        <td></td>
        <td><button id="{{properties36}}" (click)="action1('15', properties36);"></button></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td><button id="{{properties41}}" (click)="action1('16', properties41);"></button></td>
        <td></td>
        <td><button id="{{properties43}}" (click)="action1('17', properties43);"></button></td>
        <td></td>
        <td><button id="{{properties45}}" (click)="action1('18', properties45);"></button></td>
        <td></td>
        <td><button id="{{properties47}}" (click)="action1('19', properties47);"></button></td>
      </tr>
      <tr>
        <td><button id="{{properties50}}" (click)="action1('20', properties50);"></button></td>
        <td></td>
        <td><button id="{{properties52}}" (click)="action1('21', properties52);"></button></td>
        <td></td>
        <td><button id="{{properties54}}" (click)="action1('22', properties54);"></button></td>
        <td></td>
        <td><button id="{{properties56}}" (click)="action1('23', properties56);"></button></td>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td><button id="{{properties61}}" (click)="action1('24', properties61);"></button></td>
        <td></td>
        <td><button id="{{properties63}}" (click)="action1('25', properties63);"></button></td>
        <td></td>
        <td><button id="{{properties65}}" (click)="action1('26', properties65);"></button></td>
        <td></td>
        <td><button id="{{properties67}}" (click)="action1('27', properties67);"></button></td>
      </tr>
      <tr>
        <td><button id="{{properties70}}" (click)="action1('28', properties70);"></button></td>
        <td></td>
        <td><button id="{{properties72}}" (click)="action1('29', properties72);"></button></td>
        <td></td>
        <td><button id="{{properties74}}" (click)="action1('30', properties74);"></button></td>
        <td></td>
        <td><button id="{{properties76}}" (click)="action1('31', properties76);"></button></td>
        <td></td>
      </tr>
    </table>

</body>
