<!--loadedWhite: {{loadedWhite}} <br>-->
<!--loadedRed: {{loadedRed}} <br>-->
moveFrom: {{gameService.moveFrom}} <br>
moveTo: {{gameService.moveTo}} <br>
currentMove: {{gameService.currentColour}} <br>
board: {{gameService.board}} <br>
error: {{gameService.error}}<br>



<body>
<app-choose-single-multi *ngIf="loadedChooseSingleMulti"></app-choose-single-multi>
<app-choose-colour *ngIf="loadedChooseColour"></app-choose-colour>
<app-board-for-white *ngIf="loadedWhite"></app-board-for-white>
<app-board-for-red *ngIf="loadedRed"></app-board-for-red>
</body>




