body {
  width: 100%;
  background-color: #ffffff;
}

.states {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

table, th, td {
  table-layout: fixed;
  /*border-bottom: 1px solid #ddd;*/
  border-collapse: collapse;
  text-align: left;
  padding: 5px;
  text-size-adjust: auto;
  width: 100%;
}

.expanded {
  width: 100%;
  background-color: #ececec;
}

button {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-color: black;
  border-width: 1px;
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-right: 5px;
  position: center;
  color: #131313;
  border-radius: 20px;
}

button:hover {
  background-color: #dbe827;
}

.title:hover {
  background-color: #dbe827;
}
