<body>

<table class="center">
  <tr>
    <td></td>
    <td><button class="{{gameStateService.board[31]}} {{gameService.highlight[31]}}" (click)="makeMoveRed('31')">31</button></td>
    <td></td>
    <td><button class="{{gameStateService.board[30]}} {{gameService.highlight[30]}}" (click)="makeMoveRed('30')">30</button></td>
    <td></td>
    <td><button class="{{gameStateService.board[29]}} {{gameService.highlight[29]}}" (click)="makeMoveRed('29')">29</button></td>
    <td></td>
    <td><button class="{{gameStateService.board[28]}} {{gameService.highlight[28]}}" (click)="makeMoveRed('28')">28</button></td>
  </tr>
  <tr>
    <td><button class="{{gameStateService.board[27]}} {{gameService.highlight[27]}}" (click)="makeMoveRed('27')">27</button></td>
    <td></td>
    <td><button class="{{gameStateService.board[26]}} {{gameService.highlight[26]}}" (click)="makeMoveRed('26')">26</button></td>
    <td></td>
    <td><button class="{{gameStateService.board[25]}} {{gameService.highlight[25]}}" (click)="makeMoveRed('25')">25</button></td>
    <td></td>
    <td><button class="{{gameStateService.board[24]}} {{gameService.highlight[24]}}" (click)="makeMoveRed('24')">24</button></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td><button class="{{gameStateService.board[23]}} {{gameService.highlight[23]}}" (click)="makeMoveRed('23')">23</button></td>
    <td></td>
    <td><button class="{{gameStateService.board[22]}} {{gameService.highlight[22]}}" (click)="makeMoveRed('22')">22</button></td>
    <td></td>
    <td><button class="{{gameStateService.board[21]}} {{gameService.highlight[21]}}" (click)="makeMoveRed('21')">21</button></td>
    <td></td>
    <td><button class="{{gameStateService.board[20]}} {{gameService.highlight[20]}}" (click)="makeMoveRed('20')">20</button></td>
  </tr>
  <tr>
    <td><button class="{{gameStateService.board[19]}} {{gameService.highlight[19]}}" (click)="makeMoveRed('19')">19</button></td>
    <td></td>
    <td><button class="{{gameStateService.board[18]}} {{gameService.highlight[18]}}" (click)="makeMoveRed('18')">18</button></td>
    <td></td>
    <td><button class="{{gameStateService.board[17]}} {{gameService.highlight[17]}}" (click)="makeMoveRed('17')">17</button></td>
    <td></td>
    <td><button class="{{gameStateService.board[16]}} {{gameService.highlight[16]}}" (click)="makeMoveRed('16')">16</button></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td><button class="{{gameStateService.board[15]}} {{gameService.highlight[15]}}" (click)="makeMoveRed('15')">15</button></td>
    <td></td>
    <td><button class="{{gameStateService.board[14]}} {{gameService.highlight[14]}}" (click)="makeMoveRed('14')">14</button></td>
    <td></td>
    <td><button class="{{gameStateService.board[13]}} {{gameService.highlight[13]}}" (click)="makeMoveRed('13')">13</button></td>
    <td></td>
    <td><button class="{{gameStateService.board[12]}} {{gameService.highlight[12]}}" (click)="makeMoveRed('12')">12</button></td>
  </tr>
  <tr>
    <td><button class="{{gameStateService.board[11]}} {{gameService.highlight[11]}}" (click)="makeMoveRed('11')">11</button></td>
    <td></td>
    <td><button class="{{gameStateService.board[10]}} {{gameService.highlight[10]}}" (click)="makeMoveRed('10')">10</button></td>
    <td></td>
    <td><button class="{{gameStateService.board[9]}} {{gameService.highlight[9]}}" (click)="makeMoveRed('9')">9</button></td>
    <td></td>
    <td><button class="{{gameStateService.board[8]}} {{gameService.highlight[8]}}" (click)="makeMoveRed('8')">8</button></td>
    <td></td>
  </tr>

  <tr>
    <td></td>
    <td><button class="{{gameStateService.board[7]}} {{gameService.highlight[7]}}" (click)="makeMoveRed('7')">7</button></td>
    <td></td>
    <td><button class="{{gameStateService.board[6]}} {{gameService.highlight[6]}}" (click)="makeMoveRed('6')">6</button></td>
    <td></td>
    <td><button class="{{gameStateService.board[5]}} {{gameService.highlight[5]}}" (click)="makeMoveRed('5')">5</button></td>
    <td></td>
    <td><button class="{{gameStateService.board[4]}} {{gameService.highlight[4]}}" (click)="makeMoveRed('4')">4</button></td>
  </tr>
  <tr>
    <td><button class="{{gameStateService.board[3]}} {{gameService.highlight[3]}}" (click)="makeMoveRed('3')">3</button></td>
    <td></td>
    <td><button class="{{gameStateService.board[2]}} {{gameService.highlight[2]}}" (click)="makeMoveRed('2')">2</button></td>
    <td></td>
    <td><button class="{{gameStateService.board[1]}} {{gameService.highlight[1]}}" (click)="makeMoveRed('1')">1</button></td>
    <td></td>
    <td><button class="{{gameStateService.board[0]}} {{gameService.highlight[0]}}" (click)="makeMoveRed('0')">0</button></td>
    <td></td>
  </tr>
</table>

</body>

<br>
<button (click)="makeMoveAi();">AI move</button>
