<body>

<table width="100%" class="rooms">

<thead>
<th>  ROOM </th>
<th>  MEMBERS </th>
<th>  JOIN BUTTON  </th>
</thead>

<tr *ngFor="let room of this.websocketService.multiplayerState.rooms">
  <td width="40%">{{room.name}}</td>
  <td width="40%">
    <table width="100%">
      <tr><div id="squareWhite"></div> {{room.players[0]}}</tr>
      <tr><div id="squareRed"></div> {{room.players[1]}}</tr>
    </table>
  </td>
  <td width="20%">
    <div *ngIf="room.players.length < 2">
      <button (click)="enterRoom(room.name);"><h2><<<</h2></button><br>
    </div>
  </td>
</tr>

</table>


new room:
<p><input type="text" [(ngModel)]=this.newRoomName></p>
<button (click)="createRoom(this.newRoomName);"><h2>CREATE</h2></button>

</body>
