<body>

<table width="100%" class="rooms">

<thead>
<th>  ROOM </th>
<th>  MEMBERS </th>
<th>  JOIN BUTTON  </th>
</thead>

<tr *ngFor="let room of this.websocketService.rooms">
  <td width="40%">{{room}}</td>
  <td width="40%">
    <table width="100%" class="members">
      <tr><div id="squareRed"></div> member1</tr>
      <tr><div id="squareWhite"></div> member2</tr>
    </table>
  </td>
  <td width="20%"><button (click)="enterRoom(room);"><h2><<<</h2></button><br></td>
</tr>

</table>

</body>
